:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

.card_styling {
  height: 25vh;
  width: 30%;
  padding: 15px;
}

.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.bd_black {
  border: 2px solid black;
}